<table class=\"table section-table table-striped table-condensed\" summary=\"This table details the sections of CSC 316
    based on the criteria submitted in the search form.\">
    <thead>
        <tr>
            <th scope=\"col\">Sec<span class=\"hidden-xs\">tion<\ /span>
                        <\ /th>
            <th scope=\"col\">Comp<span class=\"hidden-xs\">onent<\ /span>
                        <\ /th>
            <th scope=\"col\" class=\"class-num hidden-xs\">Class #<\ /th>
            <th scope=\"col\">Avail.<\ /th>
            <th scope=\"col\">Day\/Time<\ /th>
            <th scope=\"col\">Loc<span class=\"hidden-xs\">ation<\ /span>
                        <\ /th>
            <th scope=\"col\">Instructor<\ /th>
            <th scope=\"col\"><span class=\"hidden-xs\">Begin\/End<\ /span>
                        Dates<\ /th>
            <th scope=\"col\" class=\"hidden-xs\">Topic<\ /th>
            <th scope=\"col\" class=\"screen-only\">Notes<\ /th>
                    <\ /tr>
                        <\ /thead>
    <tfoot>
        <tr>
            <td colspan=\"6\"><a href=\"#container\">top<\ /a>
                        <\ /td>
                            <\ /tr>
                                <\ /tfoot>
        <tr>
            <td>001<\ /td>
            <td>Lec<\ /td>
            <td class=\"class-num hidden-xs\">1690<\ /td>
            <td><em><span class=\"text-info\">Waitlist<\ /span>
                            <\ /em><br \ />0\/85 (9)<\ /td>
            <td>
                <ul class=\"weekdisplay\">
                    <li class=\"open hidden-xs\"><abbr title=\"Sunday\">S<\ /abbr>
                                <\ /li>
                    <li class=\"meet hidden-xs\"><abbr title=\"Monday - meet\">M<\ /abbr><span
                                    class=\"screen-reader-only-text\"> meets
                                    <\ /span>
                                        <\ /li><span class=\"visible-xs print-only\">M <\ /span>
                    <li class=\"open hidden-xs\"><abbr title=\"Tuesday\">T<\ /abbr>
                                <\ /li>
                    <li class=\"meet hidden-xs\"><abbr title=\"Wednesday - meet\">W<\ /abbr><span
                                    class=\"screen-reader-only-text\"> meets
                                    <\ /span>
                                        <\ /li><span class=\"visible-xs print-only\">W <\ /span>
                    <li class=\"open hidden-xs\"><abbr title=\"Thursday\">T
                            <\ /abbr>
                                <\ /li>
                    <li class=\"open hidden-xs\"><abbr title=\"Friday\">F<\ /abbr>
                                <\ /li>
                    <li class=\"open hidden-xs\"><abbr title=\"Saturday\">S
                            <\ /abbr>
                                <\ /li>
                                    <\ /ul> 11:45 AM - 1:00 PM <\ /td>
            <td>2201 Engineering Building 3<\ /td>
            <td><a href=\"http:\/\/directory.ncsu.edu\/users\/jtking\" class=\"instructor-link\"
                    target=\"_blank\">King,Jason
                    Tyler<\ /a>
                        <\ /td>
            <td>08\/18\/25 - 12\/02\/25<\ /td>
            <td class=\"hidden-xs\">
                <\ /td>
            <td class=\"screen-only\"> <a href=\"#\" data-toggle=\"popover\" id=\"notes-CSC-316-001\"
                    data-content=\"Prerequisite: CSC 216 and CSC 226 with a grade of C or better . If you wish to enroll
                    in this course, and are not able to do so on your own, please go to the following address: .
                    go.ncsu.edu\/cscenrollment . to fill out a course request form. Please first try to enroll in the
                    class... the form is NOT for CLOSED sections. . Please check the campus this course is offered on
                    and remember to leave at least 30 minutes to travel between campuses.\"
                    data-title='Class Notes: <button type=\"button\" class=\"popover-close close\">&times;<\/button>'
                    data-placement=\"left\"><span class=\"glyphicon glyphicon-thin-menu\"><span
                            class=\"screen-reader-only-text\">class notes<\ /span>
                                <\ /span>
                                    <\ /a> <a href=\"#\" data-toggle=\"popover\" id=\"reqs-CSC-316-001\"
                                            data-placement\"left\" data-content=\"<p>Restricted:
                                            Computer Science-BS, Computer
                                            Science-Intended, Computer
                                            Programming, or Mathematics
                                            Education-BS\" data-title='Class
                                            Requisites: <button type=\"button\" class=\"popover-close close\">&times;<\
                                                    /button>
                                                    '><img src=\"images\/nc_yellow_diamond_warn.png\" alt=\"more
                                                        information available\" \ />
                                                    <\ /a><a href='https:\/\/shop.ncsu.edu\/adoption-search'
                                                            target='_blank'><img src='images\/books-icon.png'
                                                                alt='View Books' title='View course books in Bookstore'
                                                                \ />
                                                            <\ /a>
                                                                <\ /td>\n <\ /tr>
        <tr>
            <td>002<\ /td>
            <td>Lec<\ /td>
            <td class=\"class-num hidden-xs\">5382<\ /td>
            <td><em><span class=\"text-info\">Waitlist<\ /span>
                            <\ /em><br \ />0\/85 (5)<\ /td>
            <td>
                <ul class=\"weekdisplay\">
                    <li class=\"open hidden-xs\"><abbr title=\"Sunday\">S<\ /abbr>
                                <\ /li>
                    <li class=\"meet hidden-xs\"><abbr title=\"Monday - meet\">M<\ /abbr><span
                                    class=\"screen-reader-only-text\"> meets
                                    <\ /span>
                                        <\ /li><span class=\"visible-xs print-only\">M <\ /span>
                    <li class=\"open hidden-xs\"><abbr title=\"Tuesday\">T<\ /abbr>
                                <\ /li>
                    <li class=\"meet hidden-xs\"><abbr title=\"Wednesday - meet\">W<\ /abbr><span
                                    class=\"screen-reader-only-text\"> meets
                                    <\ /span>
                                        <\ /li><span class=\"visible-xs print-only\">W <\ /span>
                    <li class=\"open hidden-xs\"><abbr title=\"Thursday\">T
                            <\ /abbr>
                                <\ /li>
                    <li class=\"open hidden-xs\"><abbr title=\"Friday\">F<\ /abbr>
                                <\ /li>
                    <li class=\"open hidden-xs\"><abbr title=\"Saturday\">S
                            <\ /abbr>
                                <\ /li>
                                    <\ /ul> 1:30 PM - 2:45 PM <\ /td>
            <td>1007 Engineering Building I<\ /td>
            <td><a href=\"http:\/\/directory.ncsu.edu\/users\/jtking\" class=\"instructor-link\"
                    target=\"_blank\">King,Jason
                    Tyler<\ /a>
                        <\ /td>
            <td>08\/18\/25 - 12\/02\/25<\ /td>
            <td class=\"hidden-xs\">
                <\ /td>
            <td class=\"screen-only\"> <a href=\"#\" data-toggle=\"popover\" id=\"notes-CSC-316-002\"
                    data-content=\"Prerequisite: CSC 216 and CSC 226 with a grade of C or better . If you wish to enroll
                    in this course, and are not able to do so on your own, please go to the following address: .
                    go.ncsu.edu\/cscenrollment . to fill out a course request form. Please first try to enroll in the
                    class... the form is NOT for CLOSED sections. . Please check the campus this course is offered on
                    and remember to leave at least 30 minutes to travel between campuses.\"
                    data-title='Class Notes: <button type=\"button\" class=\"popover-close close\">&times;<\/button>'
                    data-placement=\"left\"><span class=\"glyphicon glyphicon-thin-menu\"><span
                            class=\"screen-reader-only-text\">class notes<\ /span>
                                <\ /span>
                                    <\ /a> <a href=\"#\" data-toggle=\"popover\" id=\"reqs-CSC-316-002\"
                                            data-placement\"left\" data-content=\"<p>Restricted:
                                            Computer Science-BS, Computer
                                            Science-Intended, Computer
                                            Programming, or Mathematics
                                            Education-BS\" data-title='Class
                                            Requisites: <button type=\"button\" class=\"popover-close close\">&times;<\
                                                    /button>
                                                    '><img src=\"images\/nc_yellow_diamond_warn.png\" alt=\"more
                                                        information available\" \ />
                                                    <\ /a><a href='https:\/\/shop.ncsu.edu\/adoption-search'
                                                            target='_blank'><img src='images\/books-icon.png'
                                                                alt='View Books' title='View course books in Bookstore'
                                                                \ />
                                                            <\ /a>
                                                                <\ /td>\n <\ /tr>
        <tr>
            <td>003<\ /td>
            <td>Lec<\ /td>
            <td class=\"class-num hidden-xs\">9794<\ /td>
            <td><span class=\"text-success\">Open<\ /span><br \ />15\/65<\ /td>
            <td>
                <ul class=\"weekdisplay\">
                    <li class=\"open hidden-xs\"><abbr title=\"Sunday\">S<\ /abbr>
                                <\ /li>
                    <li class=\"open hidden-xs\"><abbr title=\"Monday\">M<\ /abbr>
                                <\ /li>
                    <li class=\"meet hidden-xs\"><abbr title=\"Tuesday - meet\">T<\ /abbr><span
                                    class=\"screen-reader-only-text\"> meets
                                    <\ /span>
                                        <\ /li><span class=\"visible-xs print-only\">T <\ /span>
                    <li class=\"open hidden-xs\"><abbr title=\"Wednesday\">W
                            <\ /abbr>
                                <\ /li>
                    <li class=\"meet hidden-xs\"><abbr title=\"Thursday - meet\">T<\ /abbr><span
                                    class=\"screen-reader-only-text\"> meets
                                    <\ /span>
                                        <\ /li><span class=\"visible-xs print-only\">Th <\ /span>
                    <li class=\"open hidden-xs\"><abbr title=\"Friday\">F<\ /abbr>
                                <\ /li>
                    <li class=\"open hidden-xs\"><abbr title=\"Saturday\">S
                            <\ /abbr>
                                <\ /li>
                                    <\ /ul> 10:15 AM - 11:30 AM <\ /td>
            <td>2321 Fitts-Woolard Hall<\ /td>
            <td><a href=\"http:\/\/directory.ncsu.edu\/users\/jsatyav\" class=\"instructor-link\"
                    target=\"_blank\">Satyavolu,Jayalakshmi Chandrika<\ /a>
                        <\ /td>
            <td>08\/18\/25 - 12\/02\/25<\ /td>
            <td class=\"hidden-xs\">
                <\ /td>
            <td class=\"screen-only\"> <a href=\"#\" data-toggle=\"popover\" id=\"notes-CSC-316-003\"
                    data-content=\"Prerequisite: CSC 216 and CSC 226 with a grade of C or better . If you wish to enroll
                    in this course, and are not able to do so on your own, please go to the following address: .
                    go.ncsu.edu\/cscenrollment . to fill out a course request form. Please first try to enroll in the
                    class... the form is NOT for CLOSED sections. . Please check the campus this course is offered on
                    and remember to leave at least 30 minutes to travel between campuses.\"
                    data-title='Class Notes: <button type=\"button\" class=\"popover-close close\">&times;<\/button>'
                    data-placement=\"left\"><span class=\"glyphicon glyphicon-thin-menu\"><span
                            class=\"screen-reader-only-text\">class notes<\ /span>
                                <\ /span>
                                    <\ /a> <a href=\"#\" data-toggle=\"popover\" id=\"reqs-CSC-316-003\"
                                            data-placement\"left\" data-content=\"<p>Restricted:
                                            Computer Science-BS, Computer
                                            Science-Intended, Computer
                                            Programming, or Mathematics
                                            Education-BS\" data-title='Class
                                            Requisites: <button type=\"button\" class=\"popover-close close\">&times;<\
                                                    /button>
                                                    '><img src=\"images\/nc_yellow_diamond_warn.png\" alt=\"more
                                                        information available\" \ />
                                                    <\ /a><a href='https:\/\/shop.ncsu.edu\/adoption-search'
                                                            target='_blank'><img src='images\/books-icon.png'
                                                                alt='View Books' title='View course books in Bookstore'
                                                                \ />
                                                            <\ /a>
                                                                <\ /td>\n <\ /tr>
        <tr>
            <td>601<\ /td>
            <td>Lec<\ /td>
            <td class=\"class-num hidden-xs\">1691<\ /td>
            <td><span class=\"text-success\">Open<\ /span><br \ />25\/30<\ /td>
            <td>TBD<\ /td>
            <td>Distance Education - Online<\ /td>
            <td><a href=\"http:\/\/directory.ncsu.edu\/users\/jtking\" class=\"instructor-link\"
                    target=\"_blank\">King,Jason
                    Tyler<\ /a>
                        <\ /td>
            <td>08\/18\/25 - 12\/02\/25<\ /td>
            <td class=\"hidden-xs\">
                <\ /td>
            <td class=\"screen-only\"> <a href=\"#\" data-toggle=\"popover\" id=\"notes-CSC-316-601\"
                    data-content=\"DISTANCE EDUCATION COURSE: DE tuition and fee charges are posted at
                    https:\/\/studentservices.ncsu.edu\/your-money\/tuition-and-fees\/distance-education\/<br
                    \ />Students enrolled in distance education classes in
                which proctored exams are required are responsible for any
                charges, including for identity verification, levied by a
                remote location.\" data-title='Class Notes: <button type=\"button\" class=\"popover-close
                    close\">&times;<\ /button>' data-placement=\"left\"><span class=\"glyphicon
                            glyphicon-thin-menu\"><span class=\"screen-reader-only-text\">class
                                notes<\ /span>
                                    <\ /span>
                                        <\ /a> <a href=\"#\" data-toggle=\"popover\" id=\"reqs-CSC-316-601\"
                                                data-placement\"left\" data-content=\"<p>Enrollment
                                                for this course is through
                                                the Engineering Online
                                                Registration System. Go to
                                                http:\/\/go.ncsu.edu\/eol_registration\"
                                                data-title='Class
                                                Requisites: <button type=\"button\" class=\"popover-close
                                                    close\">&times;<\ /button>'><img
                                                            src=\"images\/nc_yellow_diamond_warn.png\" alt=\"more
                                                            information available\" \ />
                                                        <\ /a><a href='https:\/\/shop.ncsu.edu\/adoption-search'
                                                                target='_blank'><img src='images\/books-icon.png'
                                                                    alt='View Books'
                                                                    title='View course books in Bookstore' \ />
                                                                <\ /a>
                                                                    <\ /td>
                                                                        \n
                                                                        <\ /tr>
                                                                            <\ /table>
                                                                                